/* membuat variabel dengan suatu warna, suapaya mempermudah code */
/* jadi tinggal manggil variabelnya aja */
:root {
  --primary: yellow;
  --bg: #010101;
  --second: #0000ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none; /*supaya tidak ada garis bawah di suatu link */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* mengatur halaman scroll, JANGAN LUPA DIHAPUS . untuk pengecekan saat di scoll saja*/
  /* min-height: 4000px; */
}

/* ------------------------------------------------------------------------------------------------------- */

/* NAVBAR SECTION START */
/* Navbar = kotak di atas page yang isinya home, about us, dll*/
.navbar {
  display: flex; /* supaya dapat mengatur 3 item di nav (nav-logo, navbar-nav, navbar-extra*/
  justify-content: space-between; /*jarak antar elemen untuk horizontal*/
  align-items: center; /*untuk vertical semua elemen sejajar*/
  padding: 1.4rem 7%;
  /* penjelasan padding */
  /* karena font size tidak diatur, maka semua font akan relatif 16px */
  /* jika dikasih 1.4rem maka padding yg 16px akan dikali 1,4 untuk atas dan bawah */
  /* lalu 7% untuk jarak paling kanan dan paling kiri pada layar, lebih responsive*/
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #463421; /*garis bawah pada navbar */
  /* untuk navbar agar diam di atas */
  position: fixed;
  top: 0; /*mentok ke atas*/
  left: 0;
  right: 0;
  z-index: 9999; /*supaya lebih diutamakan atau tidak tertutupi tetapi menutupi*/
  /* semakin besar a-index, semakin prioritas dia. seperti send to forward di McWord */
}

/* untuk style pada judul di mavbar  */
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

/* untuk style pada tulisan "UNTIRTA" */
.navbar .navbar-logo span {
  color: var(--primary);
}

/* untuk style pada tombol nav (home, about us, List, dan kontak) */
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

/* supaya saat layar besar tidak ditunjukan tombolnya */
/* dan dimunculkan pada hamburger-menu saat layar kecil */
#login{
  display: none;
}

/* supaya tombol nav memiliki warna lain saat di hover/sorot. untuk TOMBOL NAV */
.navbar .navbar-nav a:hover {
  color: var(--primary);
}

/* untuk membuat efek setelah di hover berupa garis bawah. untuk TOMBOL NAV */
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0); /* saat tidak di hover, garis tidak muncul */
  transition: 0.2s linear;
}

/* supaya garis bawahnya hanya muncul saat di hover. untuk TOMBOL NAV */
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/* style untuk icon hamburger-menu pada navbar-extra */
nav ul a {
  color: #fff;
  margin: 0 0.5rem;
}

/* saat icon hamburger-menu di hover, warna berubah */
nav ul a:hover {
  color: var(--primary);
}

/* tombol menu dibuat hilang dulu */
/* hanya muncul jika digunakan pada media tablet dan mobile */
#hamburger-menu {
  display: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li.b-1 {
  float: right;
}

nav ul li.b-1 a {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  width: auto;
}

nav ul li.b-1 a:hover {
  background-color: black;
  color: white;
}

/* NAVBAR SECTION FINISH */

/* ------------------------------------------------------------------------------------------------------- */

/* HERO SECTION START */
.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-position: center;
}

/* mengatur background menjadi video */
.hero video {
  position: absolute;
  top: -3%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* supaya video menjadi cover atau background */
  opacity: 0.3; /* transparasi warna dari video */
}

/* membuat supaya pemisah home dan setelahnya terlihat supaya tidak putus dengan membuat gradient warna */
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
  z-index: -2;
}

/* mengatur posisi content pada HOME */
.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

/* MEngatur h1 atau Judul dari HOME */
.hero .content h1 {
  font-size: 5em;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

/* untuk style pada tulisan "Library" di h1 */
.hero .content h1 span {
  color: var(--primary);
}

/* style untuk paragraf */
.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference; /* jika warna bertabrakan, maka warna disesuaikan agar dapat dibedakan */
}

/* tombol untuk "Daftar Sekarang" di class cta */
.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #000000;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  z-index: 999; /* perlu position: relative untuk membuat tombol send to forward */
  position: relative; /* supaya posisi tombol bisa dimanipulasi */
}
/* HERO SECTION FINISH */

/* ------------------------------------------------------------------------------------------------------- */

/* ABOUT SECTION START */
.about,
.list,
.contact {
  padding: 8rem 7% 1.4rem;
  /* padding: atas (kanan dan kiri) bawah */
}

.about h2,
.list h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.list h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
  padding: 2rem;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 85%;
  height: 90%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.3;
}
/* ABOUT SECTION FINISH */

/* ------------------------------------------------------------------------------------------------------- */

/* LIST SECTION START */
.list {
  text-align: center;
  padding: 80px 0;
}

.list h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.list p {
  margin-bottom: 3rem;
}

/* untuk mengatur posisi setiap elemen dari list */
.list .row {
  display: flex;
  flex-wrap: wrap; /* menyesuaikan posisi elemen jika layar mengecil */
  justify-content: center; /* elemen akan di posisikan di tengah halaman */
  gap: 30px; /* Setel jarak antar baris dan antar kolom menjadi 30px: */
}

/* tulisan/paragraf diatur ke tengah */
.list .row .list-card {
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
}

.list .row .list-card img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* pertahankan rasio aspeknya dan isi dimensi yang diberikan. Gambar akan dipotong agar pas: */
  border-radius: 8px;
  margin-bottom: 15px;
}

/* judul buku */
.list .row .list-card .list-card-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #0000ff;
}

.list-card-sinopsis {
  font-size: 14px;
  color: #6e7a00;
  margin-bottom: 0;
}

.b-2 {
  background-color: yellow;
  color: black;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  width: 200px;
}

.b-2:hover {
  background-color: black;
  color: white;
}

/* LIST SECTION FINISH */

/* ------------------------------------------------------------------------------------------------------- */

/* CONTACT Section START */
/* membuat style pada 1 container yang berisi kontak kami */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

/* memanipulasi style pada map */
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

/* memanipulasi style pada form */
.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #000000;
  background-color: var(--primary);
}
/* CONTACT Section FINISH */

/* ------------------------------------------------------------------------------------------------------- */

/* FOOTER Section START */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #000000;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--second);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #000000;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit p {
  color: var(--second);
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* FOOTER Section FINISH */

/* ------------------------------------------------------------------------------------------------------- */

/* PENYESUAIAN DISPLAY SESUAI DEVICE */

/* 1. Tampilan di laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* ------------------------------------------------------------------------------------------------------- */
/* 2. Tampilan di Tablet */
@media (max-width: 768px) {
  #login {
    display: inline-block;
  }
  nav ul li.b-1 a {
     display: none;
    }
  html {
    font-size: 62.5%;
  }

  /* untuk memunculkan kembali tombol icon menu */
  /* dan menghilangkan tombol navigasi */
  #hamburger-menu {
    display: inline-block;
  }

  /* untuk menggantikan navbar dengan tombol menu */
  /* daripada display: none yang nantinya membuat navbar hilang dan tidak dapat diposisikan */
  /* kita buat navbar muncul namun tidak dalam tampilan website */
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%; /* supaya navbar disembunyikan di kanan website */
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  /* untuk menunjukan navbar saat tombol icon menu diklik */
  /* kita tambahkan fungsi .active yang nantinya akan dimanipulasikan di javascript */
  .navbar .navbar-nav.active {
    right: 0;
  }

  /* untuk tampilan elemen dari menu seperti home, about us, dll */
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block; /* membuat elemen diurutkan ke bawah */
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  /* supaya tidak menumpuk di satu baris dan tidak enak dilihat */
  /* paragraf "Tentang Kami" akan dimunculkan dibawah gambar */
  .about .row .about-img img {
    height: 37rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content .p {
    font-size: 1.6rem;
  }

  .list p {
    font-size: 1.2rem;
  }

  /* yang tadinya eror */
  .list .row {
    flex-wrap: wrap;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* ------------------------------------------------------------------------------------------------------- */
/* 3. Tampilan di Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
